---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Customers from "../components/Customers.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../config";
import i18next, { t, changeLanguage } from "i18next";
import { Icon } from "astro-icon";
import "@fontsource/space-mono";
import "@fontsource/rubik";

changeLanguage("de");
---

<!DOCTYPE html>
<html lang={i18next.language}>
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body class="bg-black text-white">
    <main class="h-screen flex items-center justify-center relative">
      <div>
        <div class="mb-4">
          <h2 class="text-gray-100 mb-3 text-xl font-sans-serif">
            {t("home.title")}
          </h2>
          <h1 class="text-3xl mb-4 text-white font-mono font-bold">
            {t("home.occupation")}
          </h1>
          <p class="text-xl mb-3 text-gray-200 font-sans-serif">
            {t("home.detail")}
          </p>
          <p class="text-xl text-gray-200 font-sans-serif">
            <span>{t("home.cta")}</span>
          </p>
        </div>
        <div class="flex h-14">
          <div class="mr-4">
            <a
              target="_blank"
              href="mailto:alex@leanpnt.de"
              class="text-purple-500 no-underline cursor-pointer"
            >
              <Icon name="mdi:email" class="w-14 h-14" />
            </a>
          </div>
          <div class="mr-4">
            <a
              href="https://github.com/aseidma"
              class="text-violet-500 no-underline cursor-pointer"
              target="_blank"
            >
              <Icon name="mdi:github" class="w-14 h-14" />
            </a>
          </div>
          <div>
            <a
              href="https://www.linkedin.com/in/alexander-seidmann-604751184/"
              target="_blank"
              class="text-cyan-500 no-underline cursor-pointer"
            >
              <Icon name="mdi:linkedin" class="w-14 h-14" />
            </a>
          </div>
        </div>
      </div>
    </main>
      <div>
          <Customers />
      </div>
      <div class="text-center pt-20">
          <a class="text-gray-400" href="/impressum">{t("home.imprint")}</a>
      </div>
  </body>
</html>
